<!DOCTYPE html>
<html>
  <head>
    <title>PunjabiAppOne</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <nav id="main-nav">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Sikho Punjabi</a>
        <a href="/" class="punjabi">ਸਿੱਖੋ ਪੰਜਾਬਿ</a>
        <ul>
          <% if current_user %>
            <li><%= link_to "Learn", units_path %></li>
            <li><%= link_to "My Profile", user_path %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "About", "/about"%></li>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
    <div id="flash-message" class="<%= name %>">
      <div class="container">
        <p>
          <%= name.capitalize %>: <%= msg %>
        </p>
      </div>
    </div>
    <% end %>
    <%= yield %>
    <% if current_user %>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        Sikho Punjabi © 2017
        <a class="grey-text text-lighten-4 right" href="https://github.com/snopeks">Created by Stephanie Snopek</a>
        </div>
      </div>
    </footer>
    <% else %>
    <footer class="page-footer">
        <div class="container" id="footer-content">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Sikho Punjabi</h5>
              <p class="grey-text text-lighten-4">Learn, grow & connect through the power of language.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">More Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://en.wikipedia.org/wiki/Punjabi_language">Why learn Punjabi?</a></li>
                <li><a class="grey-text text-lighten-3" href="/team">The team behind Sikho Punjabi</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Sikho Punjabi © 2017
          <a class="grey-text text-lighten-4 right" href="https://github.com/snopeks">Created by Stephanie Snopek</a>
          </div>
        </div>
      </footer>
    <% end %>
  </body>
</html>
